.page-content {
	width: 90%;
	margin-left: 5%;
}

/* NavBar

	http://work.smarchal.com/twbscolor/scss/609830426523ffffffd5f7c11

*/
.navbar-default {
  background-color: #609830;
  border-color: #426523;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #d5f7c1;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #d5f7c1;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #609830;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #d5f7c1;
  background-color: #426523;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #609830;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #d5f7c1;
  background-color: #426523;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #d5f7c1;
  background-color: #426523;
}
.navbar-default .navbar-toggle {
  border-color: #426523;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #426523;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #d5f7c1;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #d5f7c1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #d5f7c1;
    background-color: #426523;
  }
}

/*
	NavBar Ends Here
*/

/*
	Panel green
*/
.panel-green { border-color: #609830; }
.panel-green > .panel-heading { color: #ffffff; background-color: #609830; border-color: #609830; }
.panel-green > .panel-heading + .panel-collapse .panel-body { border-top-color: #609830; }
.panel-green > .panel-footer + .panel-collapse .panel-body { border-bottom-color: #609830; }
/*
	Panel Green Ends Here
*/
.green-line {
  color: #609830;
  border-bottom: solid 1px #609830;
}

/*
	FAQs
*/
.question {
	margin-top: 1%;
	margin-left: 1%;
	font-size: 16px;
	color: red;
}
.answer {
	margin-top: 1%;
	margin-left: 1%;
	font-size: 16px;
	color: blue;
}
/*
	FAQs Ends Here
*/

/*
	Textures
*/
.textures {
	text-align: center;
}
/*
	Textures Ends Here
*/
