<div style="margin-top: 2%;" class="col-sm-8">
			<form class="form-horizontal" name="addItem">
				<div class="form-group">
					<label for="name" class="col-sm-2 control-label">Nombre</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="name" placeholder="Nombre del item" ng-model="item.item">
					</div>
    			</div>
    			<div class="form-group">
					<label for="tool" class="col-sm-2 control-label">Herramienta</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="tool" placeholder="Herramienta necesaria" ng-model="item.tool">
					</div>
    			</div>
    			<div class="form-group">
					<label for="bench" class="col-sm-2 control-label">Banco de trabajo</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="bench" placeholder="Banco de trabajo usado necesaria" ng-model="item.bench">
					</div>
    			</div>
    			<br/>
    			<div class="form-group">
    				<strong class="col-sm-2 control-label">Ingrediente 1</strong>
    			</div>
    			<div style="margin-left: 5%;">
    				<div class="form-group">
						<label for="ing1name" class="col-sm-2 control-label">Nombre</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="ing1name" placeholder="Nombre" ng-model="item.ingredients[0].name">
						</div>
    				</div>
    				<div class="form-group">
						<label for="ing1amount" class="col-sm-2 control-label">Cantidad</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="ing1amount" placeholder="Cantidad" ng-model="item.ingredients[0].amount">
						</div>
    				</div>
    				<div class="form-group">
						<label for="ing1recipe" class="col-sm-2 control-label">Receta</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="ing1recipe" placeholder="0 si tiene y 1 si no tiene" ng-model="item.ingredients[0].recipe">
						</div>
    				</div>
    			</div>
    			<br/>
    			<div class="form-group">
    				<strong class="col-sm-2 control-label">Ingrediente 2</strong>
    			</div>
    			<div style="margin-left: 5%;">
    				<div class="form-group">
						<label for="ing1name" class="col-sm-2 control-label">Nombre</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="ing1name" placeholder="Nombre" ng-model="item.ingredients[1].name">
						</div>
    				</div>
    				<div class="form-group">
						<label for="ing1amount" class="col-sm-2 control-label">Cantidad</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="ing1amount" placeholder="Cantidad" ng-model="item.ingredients[1].amount">
						</div>
    				</div>
    				<div class="form-group">
						<label for="ing1recipe" class="col-sm-2 control-label">Receta</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="ing1recipe" placeholder="0 si tiene y 1 si no tiene" ng-model="item.ingredients[1].recipe">
						</div>
    				</div>
    			</div>
    			<br/>
    			<div class="form-group">
    				<strong class="col-sm-2 control-label">Ingrediente 3</strong>
    			</div>
    			<div style="margin-left: 5%;">
    				<div class="form-group">
						<label for="ing1name" class="col-sm-2 control-label">Nombre</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="ing1name" placeholder="Nombre" ng-model="item.ingredients[2].name">
						</div>
    				</div>
    				<div class="form-group">
						<label for="ing1amount" class="col-sm-2 control-label">Cantidad</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="ing1amount" placeholder="Cantidad" ng-model="item.ingredients[2].amount">
						</div>
    				</div>
    				<div class="form-group">
						<label for="ing1recipe" class="col-sm-2 control-label">Receta</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="ing1recipe" placeholder="0 si tiene y 1 si no tiene" ng-model="item.ingredients[2].recipe">
						</div>
    				</div>
    			</div>
    			<br/>
    			<div class="form-group">
    				<strong class="col-sm-2 control-label">Ingrediente 4</strong>
    			</div>
    			<div style="margin-left: 5%;">
    				<div class="form-group">
						<label for="ing1name" class="col-sm-2 control-label">Nombre</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="ing1name" placeholder="Nombre" ng-model="item.ingredients[3].name">
						</div>
    				</div>
    				<div class="form-group">
						<label for="ing1amount" class="col-sm-2 control-label">Cantidad</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="ing1amount" placeholder="Cantidad" ng-model="item.ingredients[3].amount">
						</div>
    				</div>
    				<div class="form-group">
						<label for="ing1recipe" class="col-sm-2 control-label">Receta</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="ing1recipe" placeholder="0 si tiene y 1 si no tiene" ng-model="item.ingredients[3].recipe">
						</div>
    				</div>
    			</div>
    			<br/>
    			<div class="form-group">
    				<strong class="col-sm-2 control-label">Ingrediente 5</strong>
    			</div>
    			<div style="margin-left: 5%;">
    				<div class="form-group">
						<label for="ing1name" class="col-sm-2 control-label">Nombre</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="ing1name" placeholder="Nombre" ng-model="item.ingredients[4].name">
						</div>
    				</div>
    				<div class="form-group">
						<label for="ing1amount" class="col-sm-2 control-label">Cantidad</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="ing1amount" placeholder="Cantidad" ng-model="item.ingredients[4].amount">
						</div>
    				</div>
    				<div class="form-group">
						<label for="ing1recipe" class="col-sm-2 control-label">Receta</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="ing1recipe" placeholder="0 si tiene y 1 si no tiene" ng-model="item.ingredients[4].recipe">
						</div>
    				</div>
    			</div>
    			<br/>
    			<div class="form-group">
    				<strong class="col-sm-2 control-label">Ingrediente 6</strong>
    			</div>
    			<div style="margin-left: 5%;">
    				<div class="form-group">
						<label for="ing1name" class="col-sm-2 control-label">Nombre</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="ing1name" placeholder="Nombre" ng-model="item.ingredients[5].name">
						</div>
    				</div>
    				<div class="form-group">
						<label for="ing1amount" class="col-sm-2 control-label">Cantidad</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="ing1amount" placeholder="Cantidad" ng-model="item.ingredients[5].amount">
						</div>
    				</div>
    				<div class="form-group">
						<label for="ing1recipe" class="col-sm-2 control-label">Receta</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="ing1recipe" placeholder="0 si tiene y 1 si no tiene" ng-model="item.ingredients[5].recipe">
						</div>
    				</div>
    			</div>
    			<br/>
    			<div class="form-group">
    				<strong class="col-sm-2 control-label">Ingrediente 7</strong>
    			</div>
    			<div style="margin-left: 5%;">
    				<div class="form-group">
						<label for="ing1name" class="col-sm-2 control-label">Nombre</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="ing1name" placeholder="Nombre" ng-model="item.ingredients[6].name">
						</div>
    				</div>
    				<div class="form-group">
						<label for="ing1amount" class="col-sm-2 control-label">Cantidad</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="ing1amount" placeholder="Cantidad" ng-model="item.ingredients[6].amount">
						</div>
    				</div>
    				<div class="form-group">
						<label for="ing1recipe" class="col-sm-2 control-label">Receta</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="ing1recipe" placeholder="0 si tiene y 1 si no tiene" ng-model="item.ingredients[6].recipe">
						</div>
    				</div>
    			</div>
			</form>
		</div>
		<div class="col-sm-4" style="margin-top: 2%;">
			<button ng-click="pushItem()">Insertar</button>
			<button ng-click="flushList()">Vaciar</button>
			<br/>
			<br/>
			<pre>{{ list | json }}</pre>
		</div>
